<div id="nav-wrapper">
    <ul id="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li>
            <a href="#/dashboard">
                <i class="fa glyphicon glyphicon-home"></i>
                <span data-i18n="主页"></span>
            </a>
        </li>
        <li>
            <a href="#/pages/profile">
                <i class="fa glyphicon glyphicon-user"></i>
                <span data-i18n="个人中心 "></span>
            </a>
        </li> 
        <li>
            <a href="#/pages/apps">
                <i class="fa fa-star"></i>
                <span data-i18n="Apps"></span>
            </a>
        </li>
        <hr style="margin:2px;border-color:#71B4B2">
        <li>
            <a href="#/pages/reset">
                <i class="fa glyphicon glyphicon-wrench"></i>
                <span data-i18n="修改密码"></span>
            </a>
        </li>
    </ul>
</div>