	<div class="page-signup" ng-controller="ReSendEmail">
	    <div class="signin-header">
	        <div class="container text-center">
	            <section class="logo">
	            {{main.brand}}
	            </section>
	        </div>
	    </div>
		<div class="row" style="margin-top:30px;">
			<div class="col-md-6 col-md-offset-3">
				<div class="jumbotron" style="background-color:#d9edf6;text-align:center;">
					<div ng-hide="success">
				  		<h2>您还没有激活您的账号！</h2>
				  		<h2>请通过邮件链接激活您的账号!</h2>
			  		</div>
			  		<div class="col-md-offset-2 col-md-8" ng-show="success">
						<div class="alert alert-success alert-dismissible" role="alert" >
					    	<strong><span class="glyphicon glyphicon-warning-sign alert_text_style">&nbsp;激活邮件已经重新发送，请检查您注册时使用的邮箱！</span></strong>
						</div>	
					</div>		  		
					<div class="col-md-offset-2 col-md-8" ng-show="error">
						<div class="alert alert-success alert-dismissible" role="alert" >
					    	<strong><span class="glyphicon glyphicon-warning-sign alert_text_style">&nbsp;
					    	邮件发送失败，请重试！</span></strong>
					    </div>
					</div>
					<br>
					<hr>
					<div class="row" style="margin-top:30px;">
						<div class="col-md-4 col-md-offset-4">
					  		<button class="btn btn-primary btn-lg" ng-disabled ="disable" type="submit" ng-click="reSendEmai()">重新发送邮件
					  		</button>

						</div>
					</div>
					<section>
                    	<p style="font-size:15px;margin-top:15px;">已经激活？<a href="#/pages/signin" >马上登陆</a></p>
                	</section>
				</div>
			</div>
		</div>
	</div>