<div ng-controller="AppCtrl">
	<div class="page-signup" ng-controller="singUpctrl">
	    <div class="signin-header">
	        <div class="container text-center">
	            <section class="logo">
	            {{main.brand}}
	            </section>
	        </div>
	    </div>
	</div>
	<div class="row" style="margin-top:30px;">
		<div class="col-md-6 col-md-offset-3">
			<div class="jumbotron" style="background-color:#d9edf6;">
		  		<h1><span class="glyphicon glyphicon-ok" style="color:#ADFF2F" ></span>&nbsp;&nbsp;您已经激活成功</h1>
		  		<hr/>
		  		<div class="row" style="margin-top:30px;">
			  		<div class="col-md-3 col-md-offset-9">
			  			<p><a class="btn btn-primary btn-lg" href="#/pages/signin" role="button">现在登录</a></p>
			  		</div>
		  		</div>
			</div>
		</div>
	</div>
</div>