<nav class="navbar navbar-default" style="height:53px;margin-bottom:15px;" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header" style="float:left">
            <a class="navbar-brand" href=""><b>应用商店<b></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="float:right">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown"><b>应用分类</b> 
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">教育</a></li>
                        <li><a href="#">商业</a></li>
                        <li><a href="#">软件</a></li>
                        <li class="divider"></li>
                        <li><a href="#">政务</a></li>
                        <li class="divider"></li>
                        <li><a href="#">汽车</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left"role="search">
                <div class="input-group">
                    <input type="text" style="border-radius:5px;" class="form-control" placeholder="查找应用">
                </div>
                <button type="submit" class="btn btn-primary">查找</button>
            </form>
        </div>
    </div>
</nav>
<div class="container" ng-controller="appsList" >
    <div class="row" ng-repeat="item in apps" style="border-bottom:1px solid #C0C0C0;margin-top:10px;padding-bottom:10px;" >
        <div class="col-md-7 ">
            <div class="app_img">
                <img ng-src="{{item.icon}}">
            </div>  
            <div class="app_name">
                <span><h4><b>{{item.name}}</b></h4></span>
                <span>{{item.description}}</span>
            </div>     
        </div>
        <div class="col-md-5">
            <div style="float:left;margin-left:20px;">
                <div ng-init="x1 = 4" class="app_rateStar">
                    <rating class="ui-rating size-h4 ui-rating-success"
                        ng-model="x1"
                        max="6"
                        readonly="true"
                        state-on="'fa fa-star'"
                        state-off="'fa fa-star-o'">
                    </rating>
                </div>
                <div class="app_grade">
                    <div class="app_score">
                        <span>{{item.score}} 分</span>
                    </div>
                    <div class="app_vote">
                        <button type="button" id="loading-example-btn"  class="btn btn-primary">评分</button>
                    </div>
                </div>
            </div>
            <div class="app_install">
                <div class="app_in_install">
                    <button type="button" id="loading-example-btn" style="width:100px;margin-top:15px;margin-left:30px" class="btn btn-primary"><b>安装</b></button>
                </div>
            </div>
        </div>
    </div>
</div>

