<div ng-controller="Search">
    <nav class="navbar navbar-default" style="height:53px;margin-bottom:15px;" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header" style="float:left">
                <a class="navbar-brand" href=""><b>应用商店<b></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="float:right">
                <form class="navbar-form navbar-left"role="search">
                    <button onclick="window.location='#/pages/paid'" type="submit" class="btn btn-primary">购买应用</button>
                </form> 
                <ul class="nav navbar-nav"> 
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown"><b>应用分类</b> 
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" >
                            <li ><a ng-click="allApps()">所有应用</a></li>
                            <li class="divider"></li>
                            <li  ng-repeat = "list in keywords"><a ng-model="appName.keyword" ng-click="findApp(list.name)">{{list.name}}</a></li>
                        </ul>
                    </li>
                </ul>
               
                <form name="searchAppForm" class="navbar-form navbar-left" role="search" novalidate ng-submit="search(appName.name)">
                    <div class="input-group">
                        <input 
                            type="text" 
                            style="border-radius:5px;" 
                            class="form-control" 
                            ng-model="appName.name"
                            required
                            placeholder="查找应用">
                    </div>
                    <button type="submit" class="btn btn-primary" data-ng-disabled="searchAppForm.$invalid">查找</button>
                </form>
            </div>
        </div>
    </nav>
    <div ng-repeat="app in apps">
        <apps-list>
        </apps-list>
    </div>    
    <div class="row" ng-hide="result">
        <div class="col-md-6 col-md-offset-3" style="text-align:center;">
            <ul class="pagination">
                <li ng-repeat='page in pages'><a class="paging" ng-click="paging(page.pagenumber)" >{{page.pagenumber+1}}</a></li>
            </ul>
        </div>
    </div>
</div>


