
<div class="container" ng-controller="appsList" >
    <div class="row" ng-repeat="app in apps" style="border-bottom:1px solid #C0C0C0;margin-top:10px;padding-bottom:10px;" >
        <div class="col-md-7 ">
            <div class="app_img">
                <a href="#/pages/detail/{{app.id}}"><img ng-src="{{app.thumbnail_url}}" title="点击查看详细应用介绍"></a>
            </div>  
            <div class="app_name">
                <span><h4><b>{{app.title}}</b></h4></span>
                <span>{{app.description}}</span>
            </div>     
        </div>
        <div class="col-md-5">
            <div style="float:left;margin-left:20px;">
                <div class="block app_rateStar">
                    <ul class='star-rating'>
                        <li><a href='#' title='一星' class='one-star'>1</a></li>
                        <li><a href='#' title='二星' class='two-stars'>2</a></li>
                        <li><a href='#' title='三星' class='three-stars'>3</a></li>
                        <li><a href='#' title='四星' class='four-stars'>4</a></li>
                        <li><a href='#' title='五星' class='five-stars'>5</a></li>
                    </ul>
                </div>
                <div class="app_grade">
                    <div class="app_score">
                        <span>{{app.rate}} 分</span>
                    </div>
                    <div class="app_vote">
                        <button type="button" id="loading-example-btn"  class="btn btn-primary">评分</button>
                    </div>
                </div>
            </div>
            <div class="app_install">
                <div class="app_in_install">
                    <button type="button" ng-click="addApp(app)" id="loading-example-btn" style="width:100px;margin-top:15px;margin-left:30px" class="btn btn-primary"><b>安装</b></button>
                </div>
            </div>
            <div class="app_install_times"> 
                <span>已安装:{{app.install_count}}次</span>
            </div>
        </div>
    </div>
</div>