<nav class="navbar navbar-default" style="height:53px;margin-bottom:15px;" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header" style="float:left">
            <a class="navbar-brand" href=""><b>应用商店<b></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="float:right">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown"><b>应用分类</b> 
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">教育</a></li>
                        <li><a href="#">商业</a></li>
                        <li><a href="#">软件</a></li>
                        <li class="divider"></li>
                        <li><a href="#">政务</a></li>
                        <li class="divider"></li>
                        <li><a href="#">汽车</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left"role="search">
                <div class="input-group">
                    <input type="text" style="border-radius:5px;" class="form-control" placeholder="查找应用">
                </div>
                <button type="submit" class="btn btn-primary">查找</button>
            </form>
        </div>
    </div>
</nav>
<apps-list>
</apps-list>