<div class="container detail"  ng-controller="AppDetailController">
	<div class="row">
		<div class=" col-md-7">
			<div style="float:left">
				<div class="detail_img">
					<img src="images/weixinshangcheng2.png">
				</div>
				<div>
					<button type="button" id="loading-example-btn" style="width:120px;margin-top:8px;margin-left:20px" class="btn btn-primary"><b>一键安装</b></button>
				</div>
			</div>
			<div class="detail_name">
				<br/>
		        <span><h2><b>微信商城</b></h2></span>
		        <br/>
				<span>最新版本:1.0.0</span>&nbsp;&nbsp;&nbsp;&nbsp;
				<span>更新时间:2014-8-21</span>
				<br>
				<br>
				<span>来源:官方</span>
	        </div>
			<div class="detail_line"></div>
		</div>
		<div class=" col-md-5">
			<div class="detail_rate">
				<div ng-init="x2 = 4" style="float:left">
	                <rating class="ui-rating size-h3 ui-rating-warning"
	                    ng-model="x2"
	                    max="6"
	                    readonly="true"
	                    state-on="'fa fa-star'"
	                    state-off="'fa fa-star-o'">
	                </rating>
	            </div>
	            <div style="float:left;">
	            	<div class="detail_grade">	
	            		<span><i>8.3</i>分</span>
	            	</div>
	            </div>
			</div>
			<br/>
			<br/>						
			<div class="row" style="margin-top:8px;">
				<div class="col-md-12">
					<div  style="float:left">
						<form style="font-size:20px;">
							<input type="radio" name="rate" value="good"/>
							<span class="fa fa-smile-o" style="color:#17d118"></span>
							<span class="fa fa-smile-o" style="color:#17d118"></span>
							<span class="fa fa-smile-o" style="color:#17d118"></span>
							<br/>
							<input type="radio" name="rate" value="normal"/>
							<span class="fa fa-smile-o" style="color:#f7bf36"></span>
							<span class="fa fa-smile-o" style="color:#f7bf36"></span>

							<br/>
							<input type="radio" name="rate" value="bad">
							<span class="fa fa-frown-o" style="color:#fa2f33"></span>
						</form>
					</div>
					<!-- 扇形统计图 -->
				<!--             		
					<section class="panel panel-default" >
                		<div class="panel-body"  style="background-color:#f3f3f3" data-ng-controller="morrisChartCtrl">
                   			<div morris-chart style="width:100px;height:100px;" 
                         		data-data="donutData"
                         		data-type="donut"
                         		data-xkey="year"
                         		data-colors='["#60CD9B","#66B5D7","#EEC95A","#E87352"]'
                         		></div>
                		</div>
					</section> -->
					<button class="btn btn-primary detail_score">评分
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="margin-top:20px;">
		<nav class="navbar navbar-default"style="height:50px" role="navigation">
  			<div class="container-fluid">
	  			<div class="navbar-header" style="margin-left:35px;">
	      			<span class="navbar-brand"><b>应用详情<b></span>
	    		</div>
    		</div>
		</nav>
	</div>
	<div class="row">
		<div class="col-md-12 detail_description">
			<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我看了，他们说有很多人点评我，很感谢大家这么喜欢我，我会努力的。”埃斯泰加约什还表示：“等比赛都结束了，我一定要在南京好好游览一下，有些我们国家的运动员去逛街玩过了，他们都说这个城市很美。”而昨天金陵晚报记者报道的最初发掘埃斯泰加约什的志愿者钟心怡，最终也把自己画的画送给了她心中的男神。钟心怡说：“他说我画得很漂亮我看了，他们说有很多人点评我，很感谢大家这么喜欢我，我会努力的。”埃斯泰加约什还表示：“等比赛都结束了，我一定要在南京好好游览一下，有些我们国家的运动员去逛街玩过了，他们都说这个城市很美。”而昨天金陵晚报记者报道的最初发掘埃斯泰加约什的志愿者钟心怡，最终也把自己画的画送给了她心中的男神。钟心怡说：“他说我画得很漂亮</span>
		</div>
	</div>
	<div class="row" style="margin-top:15px;">
	</div>
</div>