<div class="container detail"  ng-controller="AppDetailController">
	<div class="row">
		<div class=" col-md-7">
			<div style="float:left">
				<div class="detail_img">
					<img src="images/weixinshangcheng2.png">
				</div>
			</div>
			<div class="detail_name">
				<br/>
		        <span><h3><b>{{app.title}}</b></h3></span>
				<span>版本号：{{app.version}}</span>
				<br/>
				<br/>
				<span style="word-wrap:break-word">更新时间：{{app.created}}</span>
				<br/>
				<br/>
				<span>来源：{{app.source}}</span>
	        </div>
			<div class="detail_line"></div>
		</div>
		<div class=" col-md-5">
			<div class="detail_rate">
                <ul class='star-rating'>
                    <li><a href='#' title='一星' class='one-star'>1</a></li>
                    <li><a href='#' title='二星' class='two-stars'>2</a></li>
                    <li><a href='#' title='三星' class='three-stars'>3</a></li>
                    <li><a href='#' title='四星' class='four-stars'>4</a></li>
                    <li><a href='#' title='五星' class='five-stars'>5</a></li>
                </ul>
			</div>

            <div>
                <a href="#/pages/payMent"><button type="button" id="loading-example-btn" style="width:120px;margin-top:30px;margin-left:180px" class="btn btn-primary"><b>一键安装</b></button></a>
            </div>
		</div>
	</div>
	<div class="row" style="margin-top:20px;">
		<nav class="navbar navbar-default"style="height:50px" role="navigation">
  			<div class="container-fluid">
	  			<div class="navbar-header" style="margin-left:35px;">
	      			<span class="navbar-brand"><b>应用详情<b></span>
	    		</div>
    		</div>
		</nav>
	</div>
	<div class="row">
		<div style="display:block;" class="col-md-12 detail_description">
			<span style="word-wrap:break-word">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{app.full_description}}</span>
		</div>
	</div>
	<div class="row" style="margin-top:15px;">
		<div class="col-md-offset-1 col-md-10">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			 	<ol class="carousel-indicators">
			    	<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			    	<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			    	<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			    	<li data-target="#carousel-example-generic" data-slide-to="3"></li>
			    	<li data-target="#carousel-example-generic" data-slide-to="4"></li>
			 	</ol>
			  	<div class="carousel-inner" role="listbox">
			    	<div class="item active">
			      		<img src="images/background/1.jpg" alt="...">
			      		<div class="carousel-caption">
			      		</div>
			    	</div>
			   		<div class="item">
			      		<img src="images/background/2.jpg" alt="...">
			      		<div class="carousel-caption">
				        </div>
			    	</div>
			    	<div class="item">
			      		<img src="images/background/3.jpg" alt="...">
			      		<div class="carousel-caption">
				        </div>
			    	</div>			    	
			    	<div class="item">
			      		<img src="images/background/4.jpg" alt="...">
			      		<div class="carousel-caption">
				        </div>
			    	</div>
			    	<div class="item">
			      		<img src="images/background/5.jpg" alt="...">
			      		<div class="carousel-caption">
				        </div>
			    	</div>
			  	</div>
			</div>
		</div>
	</div>
</div>