<div class="page-forgot" ng-controller="resetCtrl">

    <div class="signin-header">
        <div class="container text-center">
            <section class="logo">
                <a href="#/">{{main.brand}}</a>
            </section>
        </div>
    </div>

    <div class="main-body">
        <div class="container">

            <div class="info text-center">
                <h2>重置密码</h2>
                <p class="text-small">请输入您注册的电子邮箱
</p>
            </div>

            <div class="form-container">

                <form class="form-horizontal form-validation" name="forgotPasswordForm" ng-submit="resets(user)"novalidate >
                    <div class="form-group">
                        <input type="email  "
                               class="form-control input-lg"
                               placeholder="邮箱"
                               ng-model="user.email"
                               required
                               >
                    </div>
                    <div class="form-group">
                        <button  type="submit" data-ng-disabled="forgotPasswordForm.$invalid" class="btn btn-lg btn-block btn-primary" >发送</button>
                    </div>
                </form>

            </div>

        </div>
    </div>

</div>