<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1" style="border-bottom: 3px solid #c0c0c0">
            <div class="col-md-6">
                <hr />
                <div class="payMent_logo">
                    <span>Lettoo</span>
                </div>
                <div class="payMent_logo2">
                    <span>收银台</span>
                </div>
                <br />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-8">
                <span class="glyphicon glyphicon-ok" id="payMent_span"> 订单已经提交成功！请您尽快付款！ | 应付金额：99999.99元。</span>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
</div>