<style>
    .switch i:before{
        height:20px;
        width: 20px;
        border-radius: 20px;
    }
    .list-info li div{
        padding-left:0px;
    }

    .url-disable{
        background: #eee;
    }    
</style>
<div class="page page-profile" data-ng-controller="profileCtrl">

    <div class="row">
        <div class="col-md-6">

            <div class="panel panel-profile">
                <div class="panel-heading text-center bg-info">
                    <img alt="" src="images/g1.jpg" class="img-circle img80_80">
                    <h3>{{user.username}}</h3>
                    <p>Project Manager</p>                    
                </div>
                <div class="list-justified-container">
                    <ul class="list-justified text-center">
                        <li>
                            <p class="size-h3">679</p>
                            <p class="text-muted">Tweets</p>
                        </li>
                        <li>
                            <p class="size-h3">575</p>
                            <p class="text-muted">Followers</p>
                        </li>
                        <li>
                            <p class="size-h3">23</p>
                            <p class="text-muted">Following</p>
                        </li>
                    </ul>
                </div>
            </div>



          
        </div>
        <div class="col-md-6">

        <form name="signUp_form" class="form-horizontal form-inline" role="form"  ng-submit="signUp_form.$valid && Update(user.profile)" novalidate>
            <div class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> 个人信息</strong></div>
                <div class="panel-body ">
                    <div class="media ">
                        <div class="media-body ">
                            <ul class="list-unstyled list-info ">
                                <li >                                
                                    <span  class="icon glyphicon glyphicon-user" ></span>
                                    <label >用户名</label>                                                                                          
                                    {{user.username}}
                                                                              
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-envelope"></span>
                                    <label>电子邮件</label>
                                    <span ng-show="edit==0" > {{user.email}}</span>
                                    <span ng-show="edit==1" >
                                        <input type="email" ng-model="user.email" class="form-control" required>                        
                                   </span>                                    
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-earphone"></span>
                                    <label>联系方式</label>
                                    <span ng-show="edit==0" > {{user.profile.tel}}</span>
                                    <span ng-show="edit==1" >
                                        <input type="text" ng-model="user.profile.tel" class="form-control">                        
                                    </span>                                     
                                </li>

                                <li>
                                    <span class="icon fa fa-qq"></span>
                                    <label>QQ</label>
                                    <span ng-show="edit==0" > {{user.profile.qq}}</span>
                                    <span ng-show="edit==1" >
                                        <input type="text" ng-model="user.profile.qq" class="form-control">                        
                                    </span>  
                                </li>
                                <li class="text-right">
                                    <button type="button" class="btn btn-primary" ng-show="edit==0" ng-click="edit=1">编辑</button>
                                    <button type="button" class="btn btn-primary" ng-show="edit==1" ng-click="edit=0">取消</button>
                                    <button type="submit" class="btn btn-primary" ng-show="edit==1" ng-click="edit=0">确定</button>
                                </li>
                            </ul>                            
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <section class="panel panel-default mail-categories">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> 微信列表</strong></div>   
                <ul class="list-group" ng-repeat="w in weixin">      
                    <li class="list-group-item" ng-class="{active:tab=={{w.id}}}" ng-click="cTab(w.id)"><a href="javascript:;">
                        <i class="fa fa-wechat fa-5x" style="font-size:23px;padding-right:30px" ></i>&nbsp;&nbsp;{{w.name}}（{{w.wid}}）
                    </a></li>                                                                                              
                </ul>
                <ul class="list-group" >
                    <li class="list-group-item" ng-class="{active:tab==100}" ng-click="tab=100"><a href="javascript:;">
                        <span class="glyphicon glyphicon-plus"></span> &nbsp;&nbsp;添加
                    </a></li>    
                </ul> 

            </section>        
        </div>
        <div class="col-md-9" ng-show="tab==1">

        <form name="signUp_form" class="form-horizontal form-inline" role="form"  ng-submit="signUp_form.$valid && Update(user.profile)" novalidate>
            <div class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> APP列表</strong></div>
                <div class="panel-body ">
                    <div class="media ">
                        <div class="media-body ">
                            <ul class="list-unstyled list-info ">
                                <li >                                
                                    <span  class="icon glyphicon glyphicon-user" ></span>
                                    <label >微信号</label>                                                                                          
                                    <span ng-show="edit==0" >乐土软件（lettoosoft）</span>
                                    <span ng-show="edit==1"  >
                                        <input type="text" ng-model="user.username"  class="form-control" required>                        
                                    </span>                                                                                
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-envelope"></span>
                                    <label>URL</label>
                                    <span ng-show="edit==0" > www.weixin.com/index/</span>
                                    <span ng-show="edit==1" >
                                        <input type="email" ng-model="user.email" class="form-control" required>                        
                                   </span>                                    
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-earphone"></span>
                                    <label>TOKEN</label>
                                    <span ng-show="edit==0" > lettoo</span>
                                    <span ng-show="edit==1" >
                                        <input type="text" ng-model="user.profile.tel" class="form-control">                        
                                    </span>                                     
                                </li>

                                <li class="text-right">
                                    <button type="button" class="btn btn-primary" ng-show="edit==0" ng-click="edit=1">编辑</button>
                                    <button type="button" class="btn btn-primary" ng-show="edit==1" ng-click="edit=0">取消</button>
                                    <button type="submit" class="btn btn-primary" ng-show="edit==1" ng-click="edit=0">确定</button>
                                </li>
                            </ul>                            
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>        

    <div class="col-md-9" ng-show="tab==2">
    
        <form name="signUp_form" class="form-horizontal form-inline" role="form"  ng-submit="signUp_form.$valid && Update(user.profile)" novalidate>
            <div class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> 基本信息{{check}}</strong></div>
                <div class="panel-body ">
                    <div class="media ">
                        <div class="media-body ">
                            <ul class="list-unstyled list-info ">
                                <li >                                
                                    <span  class="icon glyphicon glyphicon-user" ></span>
                                    <label >微信号</label>                                                                                          
                                    <span ng-show="edit==0" >开发者联盟（hfutlod）</span>
                                    <span ng-show="edit==1"  >
                                        <input type="text" ng-model="user.username"  class="form-control" required>                        
                                    </span>                                                                                
                                </li>
                                <li style="height:48px;" ng-class="{'url-disable':!check}" >                                    
                                    <div class="col-md-5" >
                                    <span class="icon glyphicon glyphicon-link"></span>
                                    <label>URL</label>
                                    <span  ng-show="edit==0"  style=" vertical-align: center;"> www.weixin.com/index/

                                    </span>
                                    <span ng-show="edit==1" >
                                        <input type="email" ng-model="user.email" class="form-control" required>                        
                                   </span>                                     
                                    </div>
                                    <div class="col-md-4" ng-show="edit==0">
                                        <label class="switch switch-success"><input type="checkbox" ng-model="check"  checked><i></i>
                                    </div>
                                    </span>
                                </li>
                                <li style="height:48px;"  >                                    
                                    <div class="col-md-5" >
                                    <span class="icon glyphicon glyphicon-pushpin"></span>
                                    <label>TOKEN</label>
                                    <span  ng-show="edit==0"  style=" vertical-align: center;"> lettoo

                                    </span>
                                    <span ng-show="edit==1" >
                                        <input type="email" ng-model="user.email" class="form-control" required>                        
                                   </span>                                     
                                    </div>
                                    <div class="col-md-4" ng-show="edit==0">
                                       <span class="icon glyphicon glyphicon-question-sign"></span><a href="#nogo">什么是Token?</a>
                                    </div>
                                    </span>
                                </li>                                


                                <li class="text-right">
                                    <button type="button" class="btn btn-primary" ng-show="edit==0" ng-click="edit=1">编辑</button>
                                    <button type="button" class="btn btn-primary" ng-show="edit==1" ng-click="edit=0">取消</button>
                                    <button type="submit" class="btn btn-primary" ng-show="edit==1" ng-click="edit=0">确定</button>
                                </li>
                            </ul>                            
                        </div>
                    </div>
                </div>
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> APP列表</strong></div>
        <table class="table">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>APP</th>
                    <th>状态</th>
                    <th>到期时间</th>
                    <th>开关</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><span class="color-success"></span> 失物招领</td>
                    <td><span class="label label-info">正常</span></td>
                    <td>2015年 10月1日</td>
                    <td><label class="switch switch-success"><input type="checkbox" checked><i></i></label></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><span class="color-success"></span> 二手市场</td>
                    <td><span class="label label-info">正常</span></td>
                    <td>2015年 10月1日</td>
                    <td><label class="switch switch-success"><input type="checkbox" checked><i></i></label></td>
                </tr>
                <tr >
                    <td>3</td>
                    <td><span class="color-success"></span> 外卖</td>
                    <td><span class="label label-danger">过期</span></td>
                    <td>2014年 8月1日</td>
                    <td><label class="switch switch-success"><input type="checkbox" checked><i></i></label></td>
                </tr>                                


            </tbody>
        </table>

            </div>


        </form>


        </div>        
    <!-- 添加微信 -->
    <div class="col-md-9" ng-show="tab==100">
    
        <form name="signUp_form" class="form-horizontal form-inline" role="form"  ng-submit="signUp_form.$valid && Update(user.profile)" novalidate>
            <div class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> 添加微信{{way}}</strong></div>
                <div class="panel-body " >
                    <ol class="breadcrumb-alt">
                        <li ><a href="javascript:;" ng-click="way=1" ng-class="{active:way==1}" style="font-size:16px;">
                        <span class='glyphicon glyphicon-pushpin'></span>
                        &nbsp;&nbsp;第一种方式&nbsp;&nbsp;&nbsp;&nbsp;输入登录邮箱密码，系统自动完成绑定</a>
                        </li>
                        <li  ng-click="way=2" ><a href="javascript:;" ng-class="{active:way==2}" style="font-size:16px;">
                        <span class='glyphicon glyphicon-pushpin'></span>
                        &nbsp;&nbsp;第二种方式&nbsp;&nbsp;&nbsp;&nbsp;手动输入绑定</a>
                        </li>                        

                    </ol>
                    <!-- 第一种方式 -->
                    <div class="media " ng-show="way==1">
                        <div class="media-body ">
                            <ul class="list-unstyled list-info ">
                                <li style="height:55px;"  >                                    
                                    <div class="col-md-5" >
                                    <span class="icon glyphicon glyphicon-user"></span>
                                    <label>登录邮箱</label>

                                        <input type="email"  class="form-control" required>                        
                                        
                                    </div>
                                    <div class="col-md-4" style="top:5px;" ng-show="edit==0">
                                       <span class="icon glyphicon glyphicon-info-sign"></span>请输入登录微信公众平台的邮箱和密码
                                    </div>
                                    </span>
                                </li> 
                                <li style="height:55px;" ng-class="{'url-disable':url%2==1}" >                                    
                                    <div class="col-md-8" >
                                    <span class="icon glyphicon glyphicon-lock"></span>
                                    <label>登录密码</label>
                                        <input type="password"  class="form-control" required>                                                      
                                    </div>

                                    </span>
                                </li>  
                                                             

                                <li class="text-right">
                                    <button type="button" class="btn btn-primary" ng-show="edit==0" ng-click="edit=1">添加</button>

                                </li>
                            </ul>                            
                        </div>
                    </div>
                    <!-- 第二种方式 -->
                    <div class="media " ng-show="way==2">
                        <div class="media-body ">
                            <ul class="list-unstyled list-info ">
                                <li style="height:55px;"  >                                    
                                    <div class="col-md-5" >
                                    <span class="icon glyphicon glyphicon-user"></span>
                                    <label>微信号</label>

                                        <input type="text" ng-model="addItem.wid"  class="form-control" required>                        
                                        
                                    </div>
                                    <div class="col-md-4" style="top:5px;" ng-show="edit==0">
                                       <span class="icon glyphicon glyphicon-info-sign"></span>请输入微信号和微信名称
                                    </div>
                                    </span>
                                </li> 
                                <li style="height:55px;" ng-class="{'url-disable':url%2==1}" >                                    
                                    <div class="col-md-8" >
                                    <span class="icon glyphicon glyphicon-lock"></span>
                                    <label>微信名称</label>
                                        <input type="text" ng-model="addItem.name"  class="form-control" required>                                                      
                                    </div>

                                    </span>
                                </li>  
                                <li style="height:55px;" ng-class="{'url-disable':url%2==1}" >                                    
                                    <div class="col-md-8" >
                                    <span class="icon glyphicon glyphicon-lock"></span>
                                    <label>TOKEN</label>
                                        <input type="text"  class="form-control" required>                                                      
                                    </div>

                                    </span>
                                </li>                                  
                                                             

                                <li class="text-right">
                                    <button type="button" class="btn btn-primary" ng-show="edit==0" ng-click="add(addItem)">添加</button>

                                </li>
                            </ul>                            
                        </div>
                    </div>                    
                </div>


            </div>


        </form>


        </div>        
    </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">用户分析</h3>
        </div>
        <div class="panel-body" data-ng-controller="flotChartCtrl">
            <div data-flot-chart
                 data-data="line1.data"
                 data-options="line1.options"
                 style="width: 100%; height: 300px;"
                 ></div>
        </div>
    </div>    

</div>