<style>
    .switch i:before{
        height:20px;
        width: 20px;
        border-radius: 20px;
    }
    .list-info li div{
        padding-left:0px;
    }
    .url-disable{
        background: #eee;
    }   
    .sel-img{
      position:absolute; 
      top:45px;
      left: 20px;
      width: 80px;
      height:40px;     
      border-bottom-left-radius: 1000px;
      border-bottom-right-radius: 1000px;
      overflow: hidden;

    }
    .test{
      margin-top:15px; 
      color:#eee;
      font-size: 10px;
      background: #555; 
      width: 80px;
      height:40px;
      padding:5px; 
      opacity: 0.8;
      border-bottom-left-radius: 1000px;
      border-bottom-right-radius: 1000px;
    }     
</style>
<div class="page page-profile" data-ng-controller="profileCtrl">
    <div class="row">
        <div class="col-md-6">

            <div class="panel panel-profile">
                <div class="panel-heading bg-primary clearfix">
                    <div class="col-md-2" ng-mouseover="sel_img=1" ng-mouseout="sel_img=0">
                    <a href="" class="pull-left profile " style="">
                        <img alt=""  src="images/g1.jpg" class="img-circle img80_80"  >
                        <div ng-show="sel_img" class="sel-img text-center"><div class="test">选择图片</div></div>
                    </a>
   
                    </div>
                    <div class="col-md-10">
                    <h3>{{user.username}}</h3>
                    <p>{{user.email}}</p>                        
                    </div>

                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">14</span>
                        <i class="fa fa-envelope-o"></i>
                        新通知
                    </li>
                    <li class="list-group-item">
                        <span class="badge badge-warning">2</span>
                        <i class="fa fa-comments-o"></i>
                        新消息
                    </li>
                    <li class="list-group-item">
                        <span class="badge badge-info">1</span>
                        <i class="fa fa-heart-o"></i>
                        新任务
                    </li>

                </ul>
            </div>



          
        </div>
        <div class="col-md-6">

        <form name="update_form" class="form-horizontal form-inline" role="form"  ng-submit="update_form.$valid && Update(user.profile)" novalidate>
            <div class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> 个人信息</strong></div>
                <div class="panel-body ">
                    <div class="media ">
                        <div class="media-body ">
                            <ul class="list-unstyled list-info ">
                                <li>
                                    <span class="icon glyphicon glyphicon-home"></span>
                                    <label>地址</label>
                                    <span ng-show="edit==0" >{{user.profile.address}} </span>
                                    <span ng-show="edit==1" >
                                        <input type="text" ng-model="user.profile.address" class="form-control">                          
                                    </span>                                     
                                </li>

                                <li>
                                    <span class="icon glyphicon glyphicon-earphone"></span>
                                    <label>联系方式</label>
                                    <span ng-show="edit==0" > {{user.profile.tel}}</span>
                                    <span ng-show="edit==1" >
                                        <input type="text" ng-model="user.profile.tel" class="form-control">                        
                                    </span>                                     
                                </li>

                                <li>
                                    <span class="icon fa fa-qq"></span>
                                    <label>QQ</label>
                                    <span ng-show="edit==0" > {{user.profile.qq}}</span>
                                    <span ng-show="edit==1" >
                                        <input type="text" ng-model="user.profile.qq" class="form-control">                        
                                    </span>  
                                </li>
                                <li class="text-right">
                                    <button type="button" class="btn btn-primary" ng-show="edit==0" ng-click="edit=1">编辑</button>
                                    <button type="button" class="btn btn-primary" ng-show="edit==1" ng-click="edit=0">取消</button>
                                    <button type="submit" ng-disabled="!update_form.$valid" class="btn btn-primary" ng-show="edit==1" ng-click="edit=0">确定</button>
                                </li>
                            </ul>                            
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
        <ul class="list-group"> 
            <expander class='expander'  ng-repeat="w in weixin" expander-title='w'>
                {{text}}
            </expander>
        </ul>
   
<div app-list=""></app-list>
    </div>
    <div class="row">
        <div class="col-md-3">
            <section class="panel panel-default mail-categories">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> 微信列表({{weixin_num}})</strong></div>   
                <ul class="list-group" ng-repeat="w in weixin">      
                    <li class="list-group-item" ng-class="{active:tab=={{w.weixin_id}}}" ng-click="cTab(w.weixin_id)"><a href="javascript:;">

                        <i class="fa fa-wechat fa-5x" style="font-size:23px;padding-right:30px" ></i>{{w.title}}（{{w.weixin_id}}）

                    </a></li>                                                                                              
                </ul>
                <ul class="list-group" >
                    <li class="list-group-item" ng-class="{active:tab==100}" ng-click="tab=100"><a href="javascript:;">
                        <span class="glyphicon glyphicon-plus"></span> &nbsp;&nbsp;添加
                    </a></li>    
                </ul> 

            </section>        
        </div>
        
    <div ng-repeat="w in weixin">
        <!-- 每个ng-show对应一个微信ID -->
        <div class="col-md-9" ng-show="tab==w.weixin_id">    
        <form name="signUp_form" class="form-horizontal form-inline" role="form"  ng-submit="signUp_form.$valid && Update(user.profile)" novalidate>
            <div class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> 基本信息</strong></div>
                <div class="panel-body ">
                    <div class="media ">
                        <div class="media-body ">
                            <ul class="list-unstyled list-info ">
                                <li >                                
                                    <span  class="icon glyphicon glyphicon-user" ></span>
                                    <label >微信号</label>                                                                                          
                                    <span ng-show="edit==0" >{{w.title}}({{w.weixin_id}})</span>
                                    <span ng-show="edit==1" >
                                        <input type="text" ng-model="w.title"  class="form-control" required>                        
                                    </span>                                                                                
                                </li>
                                <li style="height:48px;" ng-class="{'url-disable':!w.connect_status}" >                                    
                                    <div class="col-md-9" >
                                    <span class="icon glyphicon glyphicon-link"></span>
                                    <label>URL</label>
                                    <span  ng-show="edit==0"  style=" vertical-align: center;"> {{w.callback_url}}

                                    </span>
                                    <span ng-show="edit==1" >
                                        <input type="email" ng-model="user.email" class="form-control" required>                        
                                   </span>                                     
                                    </div>
                                    <div class="col-md-3" ng-show="edit==0">
                                        <label class="switch switch-success"><input type="checkbox" disabled="true" ng-model="w.connect_status"  checked><i></i>
                                    </div>
                                    </span>
                                </li>
                                <li style="height:48px;">                                    
                                    <div class="col-md-9">
                                    <span class="icon glyphicon glyphicon-pushpin"></span>
                                    <label>TOKEN</label>
                                    <span  ng-show="edit==0"  style=" vertical-align: center;">{{w.token}} 
                                    </span>
                                    <span ng-show="edit==1" >
                                        <input type="email" ng-model="user.email" class="form-control" required>                        
                                   </span>                                     
                                    </div>
                                    <div class="col-md-3" ng-show="edit==0">
                                       <span class="icon glyphicon glyphicon-question-sign"></span><a href="#nogo">什么是Token?</a>
                                    </div>
                                    </span>
                                </li>                                
                                <li class="text-right">
                                    <button type="button" class="btn btn-primary" ng-show="edit==0" ng-click="edit=1">编辑</button>
                                    <button type="button" class="btn btn-primary" ng-show="edit==1" ng-click="edit=0">取消</button>
                                    <button type="submit" class="btn btn-primary" ng-show="edit==1" ng-click="edit=0">确定</button>
                                </li>
                            </ul>                            
                        </div>
                    </div>
                </div>
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> APP列表</strong></div>
        <table class="table">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>APP</th>
                    <th>状态</th>
                    <th>到期时间</th>
                    <th>开关</th>
                </tr>
            </thead>
            <tbody ng-repeat="a in w.apps">
                <tr ng-class="{'url-disable':!a.switch}">
                    <td>{{a.id}}</td>
                    <td><span class="color-success"></span> {{a.title}}</td>
                    <td>
                        <span class="label label-info" ng-show="a.status==1">正常</span>
                        <span class="label label-danger" ng-show="a.status==0">过期</span>
                    </td>
                    <td>{{a.dateline}}</td>
                    <td><label class="switch switch-success"><input type="checkbox" ng-model="a.switch"><i></i></label></td>
                </tr>                              
            </tbody>
        </table>

            </div>


        </form>


        </div>        
    </div>
    <!-- 添加微信 -->
    <div class="col-md-9" ng-show="tab==100">
    
        <form name="signUp_form" class="form-horizontal form-inline" role="form"  ng-submit="signUp_form.$valid && Update(user.profile)" novalidate>
            <div class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> 添加微信{{way}}</strong></div>
                <div class="panel-body " >
                    <ol class="breadcrumb-alt">
                        <li ><a href="javascript:;" ng-click="way=1" ng-class="{active:way==1}" style="font-size:16px;">
                        <span class='glyphicon glyphicon-pushpin'></span>
                        &nbsp;&nbsp;第一种方式&nbsp;&nbsp;&nbsp;&nbsp;输入登录邮箱密码，系统自动完成绑定</a>
                        </li>
                        <li  ng-click="way=2" ><a href="javascript:;" ng-class="{active:way==2}" style="font-size:16px;">
                        <span class='glyphicon glyphicon-pushpin'></span>
                        &nbsp;&nbsp;第二种方式&nbsp;&nbsp;&nbsp;&nbsp;手动输入绑定</a>
                        </li>                        
                    </ol>
                    <!-- 第一种方式 -->
                    <div class="media " ng-show="way==1">
                        <div class="media-body ">
                            <ul class="list-unstyled list-info ">
                                <li style="height:55px;"  >                                       
                                    <div class="container">
                                        <div class="col-md-4" >
                                            <span class="icon glyphicon glyphicon-user"></span>
                                            <label>登录邮箱</label>
                                            <input type="text"  class="form-control" ng-model="newUser.username" required>                    
                                        </div>
                                        <div class="col-md-4" style="top:5px;" ng-show="edit==0">
                                            <span class="icon glyphicon glyphicon-info-sign"></span>请输入登录微信公众平台的邮箱和密码
                                        </div>
                                    </div>
                                </li> 
                                <li style="height:55px;" ng-class="{'url-disable':url%2==1}" >                                    
                                    <div class="col-md-8" >
                                    <span class="icon glyphicon glyphicon-lock"></span>
                                    <label>登录密码</label>
                                        <input type="password" ng-model="newUser.password" class="form-control" required>                                        
                                    </div>

                                    </span>
                                </li>  
                                                             

                                <li class="text-right">
                                    <button type="button" class="btn btn-primary" ng-show="edit==0" ng-click="addNewUser(newUser)">添加</button>

                                </li>
                            </ul>                            
                        </div>
                    </div>
                    <!-- 第二种方式 -->
                    <div class="media " ng-show="way==2">
                        <div class="media-body ">
                            <ul class="list-unstyled list-info ">
                                <li style="height:55px;"  > 
                                    <div class="container">                                  
                                        <div class="col-md-4" >
                                        <span class="icon glyphicon glyphicon-user"></span>
                                        <label>微信号</label>

                                            <input type="text" ng-model="addItem.weixin_id"  class="form-control" required>                        
                                            
                                        </div>
                                        <div class="col-md-4" style="top:5px;" ng-show="edit==0">
                                           <span class="icon glyphicon glyphicon-info-sign"></span>请输入微信号和微信名称
                                        </div>
                                    </div>
                                </li> 
                                <li style="height:55px;" ng-class="{'url-disable':url%2==1}" >                                    
                                    <div class="col-md-8" >
                                    <span class="icon glyphicon glyphicon-lock"></span>
                                    <label>微信名称</label>
                                        <input type="text" ng-model="addItem.title"  class="form-control" required>                                                      
                                    </div>

                                    </span>
                                </li>                                  
                                                             

                                <li class="text-right">
                                    <button type="button" class="btn btn-primary"  ng-click="add(addItem)">添加</button>

                                </li>
                            </ul>                            
                        </div>
                    </div>                    
                </div>


            </div>


        </form>

    
        </div>        
    </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">用户分析</h3>
        </div>
        <div class="panel-body" data-ng-controller="flotChartCtrl">
            <div data-flot-chart
                 data-data="line1.data"
                 data-options="line1.options"
                 style="width: 100%; height: 300px;"
                 ></div>
        </div>
    </div>    

</div>