<div class="page-signup" ng-controller="singUpctrl">
    <div class="signin-header">
        <div class="container text-center">
            <section class="logo">
                {{main.brand}}
            </section>
        </div>
    </div>

    <div class="main-body">
        <div class="container">
            <div class="form-container">
                <section>
                    <form name="signup_form" class="form-horizontal form-validation" novalidate ng-submit="signup(check)">
                        <div class="form-group" ng-hide="success">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email"
                                       class="form-control"
                                       placeholder="邮箱"
                                       ng-model="check.email"
                                       required
                                       >
                            </div>
                        </div>

                        <div class="form-group" ng-hide="success">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <input type="password"
                                        class="form-control"
                                        placeholder="密码"
                                        ng-model="check.password"
                                        ng-focus="explain()"
                                        ng-change="explainDisappear(check)"
                                        ng-minlength=6
                                        ng-maxlength=18
                                        required
                                       >
                            </div>
                        </div>

                        <div class="alert alert-info alert-dismissible" role="alert" ng-show="info">
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <strong><span class="glyphicon glyphicon-warning-sign alert_text_style">&nbsp;密码长度为6-18位，要包含数字、字母或下划线!</span></strong>
                        </div>
                        <div class="alert alert-danger alert-dismissible" role="alert" ng-show="danger1" >
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <strong><span class="glyphicon glyphicon-warning-sign alert_text_style">&nbsp;密码格式错误，密码长度仅为6-18位，要包含数字、字母或下划线!</span></strong>
                        </div>

                        <div class="form-group" ng-hide="success" ng-hide="success">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <input  type="password"
                                        class="form-control"
                                        placeholder="确认密码"
                                        ng-model="confirmpassword"
                                        ng-change="confirm(check)"
                                        ng-minlength=6
                                        ng-maxlength=18
                                        required
                                       >
                            </div>
                        </div>                        
                        <div class="alert alert-danger alert-dismissible" role="alert" ng-show="danger2">
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <strong><span class="glyphicon glyphicon-warning-sign">&nbsp;两次输入的密码不一致！请重新输入！</span></strong>
                        </div>

                        <div class="form-group">
                            <div class="alert alert-success alert-dismissible" role="alert"  ng-show="success">
                                <strong>
                                    <span class="glyphicon glyphicon-warning-sign alert_text_style">
                                        &nbsp;您已经注册成功，激活邮件已经发送到您的邮箱，请通过电子邮件中的链接来激活您的账户！
                                    </span>
                                </strong>
                            </div>
                        </div>
                        <div class="form-group"  ng-hide="success">
                        <p class="text-muted text-small">点击阅读
                            <a href="#/pages/UserAgreement">用户协议</a>
                        </p>
                            <button type="submit" data-ng-disabled="disabled || passwordvalid(check) || signup_form.$invalid" class="btn btn-primary btn-block btn-lg">注册</button>
                        </div>

                    </form>
                </section>

                <section>
                    <p class="text-center text-muted">已经有账户？<a href="#/pages/signin" >马上登陆</a></p>
                </section>
            </div>
        </div>
    </div>
</div>